%section#messages
  %header
    %h1 Messages
    = render 'shared/admin_nav'
  %table
    %thead
      %tr
        %th Subject
        %th Name
        %th Email
        %th Phone
        %th 
    - messages.each do |message|
      %tr
        %td= message.subject
        %td= message.name
        %td= message.email
        %td= message.phone
        %td= link_to "view", message
