%section#message
  %header
    %h1 Messages
    = render 'shared/admin_nav'
  %article
    .sent_date Sent at: #{ message.created_at.to_s(:long) }
    %dl
      %dt Subject
      %dd= message.subject

      %dt From:
      %dd.from= message.name
      %dd.from= message.email
      - if message.phone.present?
        %dd.from= message.phone

    %p= message.body
