= form_for video, builder: Formal::FormBuilder do |f|
  %fieldset
    .field
      = f.label :category_id, "Category"
      = f.select :category_id, Category.pluck(:name, :id)


    .field
      = f.label :title
      = f.text_field :title

    .field
      = f.label :url, "Embed URL"
      = f.text_area :url

    .field
      = f.label :thumbnail_url
      -# = f.text_field :thumbnail_url
      = f.filepicker_field :thumbnail_url
      .thumbnail
        = filepicker_image_tag f.object.thumbnail_url


    .field
      = f.label :description
      = f.text_area :description

    .field
      = f.label :published_at, "Published Date"
      = f.date_field :published_at

    .field
      = f.check_box_with_label :featured, "Featured"

  %fieldset.actions
    .field
      = f.submit
      = link_to 'delete', video, method: :delete, data: { confirm: "Are you sure?" }
