%section#admin_videos
  %header
    %h1 Videos
    = render 'shared/admin_nav'
  - categories.each do |category|
    %h2= category.name
    %ul
      - category.videos.each do |video|
        %li.video
          .title<>
            = video.title
            = link_to "edit", [:edit, video]
            = featured_flag(video)
          .thumbnail= filepicker_image_tag(video.thumbnail_url)
          .date= video.published_at.to_s(:long)
          .description= video.description
          .url= video.url
