%article#home
  .header_bg
  %header
    %h1 Destyn Patera
    .border
    %h2 A Creative Narative
    %nav
      = link_to 'work'
      = link_to 'about'
      = link_to 'contact'
      = link_to 'blog'

%article#work
  %section
    %nav
      %ul
        - categories.each do |category|
          %li= link_to category, "#"
    #videos
      - videos.each do |video|
        .video
          .thumbnail= filepicker_image_tag(video.thumbnail_url)
          %p.title=  video.title
          %p.descirption= video.description

%article#about_me
  %section
    %header
      %h1 About me
      .border
    = dummy_image(420,268)
    .content
      This is a lot of content about me. I would like for this to be a little bit loner so I can get some line breaks in there. I want this to look a certain way and now I think it will which is cool. Even more content here just because I want to see it.

%article#contact
  %section
    %header
      %h1 Contact me
      .border
    = form_for message do |f|
      %fieldset
        .field
          = f.label :name
          = f.text_field :name

        .field
          = f.label :email
          = f.text_field :email

        .field
          = f.label :phone
          = f.text_field :phone

        .field
          = f.label :subject
          = f.text_field :subject

        .field
          = f.label :body
          = f.text_area :body

      %fieldset.actions
        = f.submit "Submit"
