@import 'reset'
@import 'bourbon'
@import 'cask'

.thumbnail
  img
    max-width: 240px
    max-height: 180px
    display: block

html, body,  #home
  height: 100%
  font-family: sans-serif

#home
  +background-image(image-url('bg.jpg'))
  +prefixer(background-size, cover, webkit moz spec)
  header
    text-align: center
    height: 100%
    position: relative
    top: 13%
    z-index: 2
    h1
      font-family: 'Gafata', 'sans-serif'
      font-size: 50px
      font-weight: bold
      color: #ffffff
    .border
      background: #cdcdcd
      width: 120px
      height: 3px
      margin: 20px auto
    h2
      font-family: 'Gafata', 'sans-serif'
      font-size: 20px
      font-weight: bold
      color: #cccccc
    nav
      margin-top: 40px
      font-size: 16px
      a
        color: #fff
        font-family: 'Gafata', 'sans-serif'
        text-decoration: none
        padding: 5px 10px
        margin: 0 5px
        border: solid 2px #cdcdcd
  .header_bg
    background: black
    position: absolute
    top: 13%
    height: 200px
    width: 100%
    opacity: 0.5
    z-index: 1

#work
  background: #dee6ec
  section
    max-width: 780px
    margin: 0 auto
    nav
      ul
        overflow: hidden
        text-align: center
        li
          display: inline-block
          max-width: 250px
          padding: 40px 20px
          +mobile
            display: block
            max-width: 100%
            padding: 0
          a
            font-family: 'Gafata', 'sans-serif'
            font-size: 30px
            text-decoration: none
            font-weight: normal
            color: #333333
            display: block
            padding: 10px
            &.active
              border: solid 1px #cdcdcd
              background: #ffffff
              border-radius: 3px
          img
            margin-top: 30px

#videos
  overflow: hidden
  +tablet
    text-align: center
  .video
    float: left
    max-width: 250px
    padding: 30px 10px
    +tablet
      float: none
      display: inline-block
    p
      text-align: left
      font-size: 13px
      &.title
        font-weight: bold
        padding: 15px 0 5px 0

#about_me
  section
    max-width: 940px
    margin: 0 auto
    img, .content
      display: inline-block
      margin: 0 8px
      max-width: 420px
      +box-sizing(border-box)
    img
      margin-bottom: 10px
      +mobile
        max-width: 98%
        margin: 0 0 10px 0
    .content
      text-align: left
      vertical-align: top
      font-size: 14px

#about_me, #contact
  background: #5f514b
  padding: 50px 0
  color: #cdcdcd
  text-align: center
  section
    clear: both
    max-width: 1200px
    margin: 0 auto
    header
      div.border
        width: 75px
        height: 2px
        background: #cdcdcd
        margin: 20px auto

#contact
  background: #291b15
  section
    max-width: 590px
    margin: 0 auto
  form
    padding: 20px
    text-align: right
    +tablet
      text-align: left
    .field
      padding: 18px 0 0 0
    label
      vertical-align: top
      padding-top: 5px
      display: inline-block
      padding-right: 10px
      +tablet
        display: block
    input[type=text], textarea, input[type=submit]
      background: #dee6ec
      width: 450px
      height: 30px
      display: inline-block
      border: none
      +box-sizing(border-box)
      +tablet
        width: 100%
    input[type=submit]
      background: #ab7f00
      height: 40px
    textarea
      height: 200px
    .actions
      margin-top: 10px

#categories, #admin_videos, #messages, #message
  max-width: 600px
  min-width: 350px
  width: 100%
  margin: 0 auto 
  nav
    padding: 10px 0
  h1
    background: #efefef
    text-align: center
    padding: 10px
    font-weight: normal
    font-size: 20px
  ul
    li
      margin-left: 5px
      padding: 10px
      border-bottom: solid 1px #efefef
      &:last-child
        border: none
      a
        float: right
  form
    border: solid 1px #efefef
    padding: 30px 10px
    margin-top: 30px
    label
      display: block
      .error
        color: red

    input[type=text], input[type=date], textarea
      height: 30px
      display: block
      width: 100%
      border: solid 1px #efefef
      padding: 5px
      box-sizing: border-box
      font-family: sans-serif

    input[type=date]
      width: 50%

    textarea
      height: 100px

    input[type=submit]
      +button
    .field
      padding: 10px

    fieldset.actions
      padding-top: 10px

#admin_videos
  h2
    padding: 0 5px
  select
    height: 30px
    min-width: 40%
  .video
    .title
      float: left
      font-weight: bold
      a
        padding-left: 10px
        font-size: 14px
        font-weight: normal
    .date
      float: right
      font-size: 13px
    .description
      clear: both
      font-size: 0.9em
      padding: 10px 0
    .url
      white-space: pre
      font-family: monospace
      background: #efefef
      border: solid 1px #cdcdcd
      padding: 3px
      overflow: auto
    img
      display: block
      clear: both

  fieldset.actions
    a
      float: right
      color: red

#messages
  table
    width: 100%
    th
      text-align: left

#message
  .sent_date
    float: right
    color: #cccccc
    font-size: 13px
  dl
    overflow: hidden
  dt
    margin-top: 10px
    font-weight: bold
  dd
    margin-left: 10px
    &.from
      float: left
      padding: 0 0 0 5px
  p
    padding: 20px 0
