%section#categories
  %header
    %h1 Video Categories
    = render 'shared/admin_nav'
  %ul
    - categories.each do |category|
      %li
        = category.name
        = link_to 'delete', category, method: :delete, data: { confirm: "Are you sure?" }

  = form_for category do |f|
    %fieldset

      .field
        = f.label :name, "New category name"
        = f.text_field :name

    %fieldset.actions
      .field= f.submit
