!!!
%html
  %head
    %title Destyn Patera
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Gafata"
    = javascript_include_tag 'application'
    = filepicker_js_include_tag
    = csrf_meta_tag
    %meta(name="viewport" content="width=device-width, initial-scale=1")
  %body
    = yield
